#Green_Box{
    background-color:rgb(5, 167, 129);
    border: 10px solid black;
    position:relative;
    height:170px;
    width: 170px;
    padding: 20px;
}
p{
    margin:0px;
}

#Yellow_Box{
    background-color: yellow;
    border: 10px solid black;
    border-width: 20px 10px;
    position:relative;
    height: 170px;
    width: 170px;
    padding: 20px;
    margin-left: 230px;
}

#Red_Box{
    background-color:red;
    border: 10px solid black;
    position:relative;
    height:150px;
    width: 150px;
    padding: 20px;
    margin-left: 20px;
}
